*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(243, 240, 61);
}
.container{
    text-align: center;
   
    margin: auto;
}

.dice{
    text-align: center;
    display: inline-block;
}
h1{
    margin: 30px;
    text-shadow: 5px 5px white;
    font-size: 5rem;
    color: rgb(37, 179, 61);
}

p{
    font-size: 2rem;
    color: rgb(7, 55, 187);
    text-shadow: 2px 3px white;
    margin: 25px;
    font-weight: bold;

}
button{
    padding: 10px;
    background-color: rgb(13, 189, 107);
    box-shadow: 0 9px 11px -5px rgb(80 176 231);
    color: white;
    border-radius: 12px;
    width: 110px;
    margin: 30px;
    font-size: 20px;

}

button:hover{
    cursor: pointer;
    background-color: rgb(235, 59, 59);
}

img{
    width: 80%;
    border-radius: 20px;
}